<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" type="text/css">
    <title>Project Insert title here</title>
</head>
<body>
    <nav>
            <a href="{{ url_for('home') }}" class="brand-logo">Project 3</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>

            </ul>
        </div>
    </nav>

        {% block content %}
        {% endblock %}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.twitter.com">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 rgraingerdev
            </div>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>