<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" type="text/css">
    <title>Project Insert title here</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-1">
          <a href="home.html" class="brand-logo">Dev Book</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><i class="filter_list">filter_list</i></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href={{ url_for('home') }}>Home</a></li>
            <li><a href={{ url_for('idea3') }}>Idea3</a></li>
            <li><a href={{ url_for('contact') }}>Contact</a></li>
            <li><a href={{ url_for('signin') }}>Sign in</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href={{ url_for('home') }}>Home</a></li>
        <li><a href={{ url_for('idea3') }}>Idea3</a></li>
        <li><a href={{ url_for('contact') }}>Contact</a></li>
        <li><a href={{ url_for('signin') }}>Sign in</a></li>
      </ul>

        {% block content %}
        {% endblock %}

    <footer class="page-footer blue darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Developer Booking</h5>
                    <p class="grey-text text-lighten-4">Check us out on social media.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.twitter.com">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 rgraingerdev
            </div>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>