{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 Days">
            <h3>Monday</h3>
            <p>Hackathon presentation 15:30-17:30</p>
            <!--Image-->
            <h3>Tuesday</h3>
            <p>Code Class 17:30-19:00</p>
            <!--Image-->
            <h3>Thursday</h3>
            <p>Day in the Life 17:30-19:00</p>
            <!--Image-->
            <h3>Friday</h3>
            <p>Hackathon planning 15:30-17:30</p>
            <!--Image-->
        </div>
        </div>
    </div>
</div>

{% endblock %}
