{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 Days">
            <div class="row right">
                <div class="col-6 right">
                    <h3 class="right">Meet reviews</h3>
                    <div class="comment-card">
                        <div class="comment-header">
                            <p class="comment-content">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Monday</h3>
            <p>Hackathon presentation 15:30-17:30</p>
            <img src=" ../static/images/presentation.jpeg " alt="presentation" class="image">
            <h3>Tuesday</h3>
            <p>Code Class 17:30-19:00</p>
            <img src="../static/images/codeclass.png" alt="code" class="image">
            <h3>Thursday</h3>
            <p>Day in the Life 17:30-19:00</p>
            <img src="../static/images/developer.jpeg" alt="developer" class="image">
            <h3>Friday</h3>
            <p>Hackathon planning 15:30-17:30</p>
            <img src="../static/images/planning.png" alt="planning" class="image">
        </div>
        </div>
    </div>
</div>

{% endblock %}
