{% extends "base.html" %}
{% block content %}
<div class="container reviews">
    <div class="row col-6">
    <h1>Review board</h1>
                {% for content in review %}
                    <div class="comment-card">
                        <ul>
                            <li>{{ content.content }}</li>
                            <li href="{{url_for('edit_review', review_id=content.id)}}">edit</li>
                            <li href="{{url_for('delete_review', review_id=content.id)}}">Delete</li>
                        </ul>
                    </div>
                {% endfor %}
    </div>
</div>

{% endblock %}