{% extends "base.html" %}
{% block content %}

    <h1>View messages</h1>

    {% if messages %}
        <ul>
        {% for message in ContactMessages %}
            <li>
                <stong>First Name:</stong> {{ message.fname }}<br>
                <stong>Surname Name:</stong> {{ message.sname }}<br>
                <stong>Email:</stong> {{ message.email }}<br>
                <stong>Subject:</stong> {{ message.subject }}<br>
                <stong>Message:</stong> {{ message.message }}<br>
            </li>
        {%  endfor %}
        </ul>
    {% else %}
        <p>No messages in the database</p>
    {% endif %}

{% endblock %}