click
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
greenlet
itsdangerous
Jinja2==3.0.1
MarkupSafe
psycopg2
SQLAlchemy==2.0.9
Faker
MarkupSafe
Werkzeug==2.2.3
postgres
psycopg2-binary==2.9.6
psycopg2-pool
wheel
flask_login
bcrypt
