
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: url("../images/heroimage.png") no-repeat center center fixed;
  }

  .landing {
    font-family: 'Inter', sans-serif;
    text-align: right;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;

  }

  .image {
    margin-top: 10px;
    width: 50%;
    height: 50%;
    border-radius: 25PX;
  }

  .favicon {
    margin-right: 5px;
  }

  .comment-card {
    background-color: deepskyblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }

  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  comment-content {
    font-size: 16px;
    line-height: 1.4;
  }