
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: url("../images/heroimage.png") no-repeat center center fixed;
  }

  .landing {
    text-align: right;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;

  }

  .image {
    margin-top: 10px;
    width: 50%;
    height: 50%;
    border-radius: 25PX;
  }

  .favicon {
    margin-right: 5px;
  }

  .message_form {
    margin-bottom: 10px;
  }
  
  .days {
    align-items: center;
  }